name: Publish
on:
  release:
    # We'll run this workflow when a new GitHub release is created
    types: [released]
  # Ручной запуск
  workflow_dispatch:
    
jobs:
  publish:
    name: Release build and publish
    runs-on: ubuntu-latest
    
    env:
      SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
      SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
      SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
      NAMESPACE: ${{ secrets.NAMESPACE }}
      
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        
      - name: Set up JDK 11
        uses: actions/setup-java@v3.1.1
        with:
          distribution: adopt
          java-version: 11
  
      - name: Release build
        run: ./gradlew :integration-library:clean :integration-library:build
      
      - name: Publish to MavenCentral
        run: ./gradlew :integration-library:publishReleasePublicationToCentralRepository --max-workers 1
      
      - name: Upload staging repository to Portal
        run: |
          curl -X POST \
          -u "$SONATYPE_USERNAME:$SONATYPE_PASSWORD" \
          "https://ossrh-staging-api.central.sonatype.com/manual/upload/defaultRepository/${NAMESPACE}"
        
