name: Publish
on:
  release:
    # We'll run this workflow when a new GitHub release is created
    types: [push]
jobs:
  publish:
    name: Release build and publish
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3.1.1
        with:
          distribution: adopt
          java-version: 8
        # Builds the release artifacts of the library
      - name: Release build
        run: ./gradlew :integration-library:clean :integration-library:build
        # Runs upload, and then closes & releases the repository
      - name: Publish to MavenCentral
        run: ./gradlew :integration-library:publishReleasePublicationToCentralRepository --max-workers 1
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
